<%- include ('partials/header') %>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" src="/images/img4.jpg" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Learn About Us</h6>
                <h5 class="font-weight-medium font-italic mb-4">Household of Grace is a home of intimacy and partnership with the HOLYSPIRIT</h5>
                <p class="mb-2">The Household of Grace, an Apostolic and Revival movement established under the guided instructions of the Holy Spirit for Holy Ghost impartation, Bible Teaching, Healing and restoring hope to the Hopeless. Household of Grace is an interdenominational ministry open to those who are willing to build a relationship with the Lord Jesus Christ.</p>
                <div class="row">
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">FELLOWSHIP</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">WORD</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">PRAYER</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">HOSPITALITY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<%- include ('partials/footer') %>
