<%- include ('partials/header') %>

<h1 class="text-center text-black font-weight-medium mb-3">WACTCH OUT FOR ENCOUNTER 2023!!!</h1>

<div class="container-fluid mt-5 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="shadow mb-4">
                    <div class="position-relative">
                            <h4 class="text-center text-black font-weight-medium mb-3">Weekly Meetings</h4>
                            
                    </div>
                    <p class="m-0 p-4">Join us every Thursdays from the hours of 10:30pm to 1am as we fellowship with the HOLYSPIRIT</p>
                </div>
            </div>
            <div class="col-lg-4 mb-2 text-center">
                <div class="shadow mb-4">
                    <div class="position-relative">
                            <h4 class="text-black font-weight-medium mb-3">Zoom Meeting Link</h4>
                    </div>
                    <a href="https://us02web.zoom.us/j/87040471259?pwd=UDdSN20yL0EyekZKMlNnWm5tWkxydz09" class="text-center"><button class="btn btn-outline-primary btn-lg zoom-button" type="button"><i class="fas fa-video"></i>Zoom Meeting Link</button></a>
                </div>
            </div>
            <div class="col-lg-4 mb-2 text-center">
                <div class="shadow mb-4">
                    <div class="position-relative">
                            <h4 class="text-black font-weight-medium mb-3">Mixlr Meeting Link</h4>  
                    </div>
                    <a href="https://mixlr.com/household-of-grace" class="text-center"><button class="btn btn-outline-dark btn-lg mixlr-button" type="button"><i class="fas fa-podcast"></i>Mixlr Meeting Link</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footer') %>
