<%- include ('partials/header') %>

		<h1>Welcome!!! <strong><%= username %></strong></p>
		<hr>
		<!-- About Start -->
		<div class="container-fluid py-5">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<img class="img-fluid" src="/images/img3.jpg" alt="">
					</div>
					<div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
						<h1 class="text-secondary text-uppercase font-weight-medium mb-3">DASHBOARD</h1>
						<p class="mb-2">Here, you can add a message (Blog), Edit the messages, delete if no longer needed,
							and view the messages you have uploaded.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->
	

		<a class="btn btn-primary py-3 px-5" href="/dashboard">Home</a>
		<a class="btn btn-primary py-3 px-5" href="/addBlog">Upload Blog</a>
		<a class="btn btn-primary py-3 px-5" href="/viewBlog">View Blog</a>
		<a class="btn btn-primary py-3 px-5" href="/logout">Click to Logout</a>

